    <!-- If there are users that match the query, append this html to the table. -->
    {% if ageandg.count > 0 %}
      <thead>
                              <tr>
                                <th> Rank </th>
                                <th> Image</th>
                                <th> Name</th>
                                <th> Email</th>
                                <th> Gender</th>
                                <th> DOB</th>
                                <th> Hobbies </th>
                              </tr>
                             </thead>
             {% for both in ageandg %}
             <tbody id="{{both.id}}">
                            <tr class ="members">
                               <td class="nr">
                              </td>
                                {% if both.user.profile_pic %}
                                <td width="10">
                                    <img class="pull-left img-circle nav-user-photo" width="50" src="{{ both.user.profile_pic.url }}" />  
                                </td>
                                </td>
                                {% else %}
  <td width="10"><img class="pull-left img-circle nav-user-photo" width="50" src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png">
  </td> 
                                {% endif %}
                                <td>
                                    <a href="/viewprofilepk/{{both.id}}"><p>{{ both.first_name}}</p></a><br><i class="fa fa-envelope"></i>
                                </td>
                                <td>
                                  {{both.email}}
                                </td>

                                <td>
                                  {{both.user.gender}}
                                </td>

                                <td>
                                  {{both.user.dob}}
                                </td>
                                <td>
                                  {% for hobby in both.hobbies.all %}
                                    <p>{{hobby}}</p>
                                  {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                            {% endfor %}
                            {% else %}

  <li>No results.</li>

  {% endif %}  
  <!-- Putting a rank on the table based on how many rows.-->
     <script>

    var a = document.getElementsByClassName("nr");
    for (var i = 0; i < a.length; i++) {
        a[i].innerHTML = (i+1)+".";
    }
  

</script>
