
    {% if ages.count > 0 %}
       <thead>
                              <tr>
                                <th> Rank </th>
                                <th> Image</th>
                                <th> Name</th>
                                <th> Email</th>
                                <th> Gender</th>
                                <th> DOB</th>
                                <th> Hobbies </th>
                              </tr>
                             </thead>
             {% for age in ages %}
             <tbody id="{{age.id}}">
                            <tr class ="members">
                              <td class="nr">
                              </td>
                                {% if age.user.profile_pic %}
                                <td width="10">
                                    <img class="pull-left img-circle nav-user-photo" width="50" src="{{ age.user.profile_pic.url }}" />  
                                </td>
                                {% else %}
  <td width="10"><img class="pull-left img-circle nav-user-photo" width="50" src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png">
  </td>      
                                {% endif %}
                                <td>
                                    <a href="/viewprofilepk/{{age.id}}"><p>{{ age}}</p></a><br><i class="fa fa-envelope"></i>
                                </td>
                                <td>
                                  {{age.email}}
                                </td>

                                <td>
                                  {{age.user.gender}}
                                </td>

                                <td>
                                  {{age.user.dob}}
                                </td>
                                 <td>
                                  {% for hobby in age.hobbies.all %}
                                    <p>{{hobby}}</p>
                                  {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                            {% endfor %}
                         {% else %}
  <li>No results.</li>

  {% endif %}
          <script>

    var a = document.getElementsByClassName("nr");
    for (var i = 0; i < a.length; i++) {
        a[i].innerHTML = (i+1)+".";
    }
  

</script>  