
    {% if ages.count > 0 %}
       <thead>
                              <tr>
                                <th> Image</th>
                                <th> Name</th>
                                <th> Email</th>
                                <th> Gender</th>
                                <th> DOB</th>
                              </tr>
                             </thead>
             {% for age in ages %}
             <tbody>
                            <tr class ="members" id="{{age.user.id}}">
                                {% if age.user.profile_pic %}
                                <td width="10">
                                    <img class="pull-left img-circle nav-user-photo" width="50" src="{{ age.user.profile_pic.url }}" />  
                                </td>
                                {% endif %}
                                <td>
                                    <a href="/viewprofilepk/{{age.id}}"><p>{{ age}}</p></a><br><i class="fa fa-envelope"></i>
                                </td>
                                <td>
                                  {{age.email}}
                                </td>

                                <td>
                                  {{age.user.gender}}
                                </td>

                                <td>
                                  {{age.user.dob}}
                                </td>
                            </tr>
                        </tbody>
                            {% endfor %}
                         {% else %}
  <li>No results.</li>

  {% endif %}