
    {% if users.count > 0 %}
       <thead>
                              <tr>
                                <th> Image</th>
                                <th> Name</th>
                                <th> Email</th>
                                <th> Gender</th>
                                <th> DOB</th>
                              </tr>
                             </thead>
             {% for user in users %}
             <tbody>
                            <tr class ="members" id="{{user.user.id}}">
                                {% if user.user.profile_pic %}
                                <td width="10">
                                    <img class="pull-left img-circle nav-user-photo" width="50" src="{{ user.user.profile_pic.url }}" />  
                                </td>
                                {% endif %}
                                <td>
                                    <a href="/viewprofilepk/{{user.id}}"><p>{{ user}}</p></a><br><i class="fa fa-envelope"></i>
                                </td>
                                <td>
                                  {{user.email}}
                                </td>

                                <td>
                                  {{user.user.gender}}
                                </td>

                                <td>
                                  {{user.user.dob}}
                                </td>
                            </tr>
                        </tbody>
                                <div class="pagination" id="page">
    <span class="step-links">
        {% if users.has_previous %}
        <a href="?page=1">&laquo; first</a>
            <a href="?page={{ users.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ users.number }} of {{ users.paginator.num_pages }}.
        </span>

        {% if members.has_next %}
            <a href="?page={{ users.next_page_number }}">next</a>
            <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
                            {% endfor %}
                         {% else %}
  <li>No results.</li>

  {% endif %}